@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
}

.scroll-dot {
	animation: bounce-anim 1s ease-in-out infinite;
}

@keyframes bounce-anim {
	0% {
		transform: translate(0, 0);
		opacity: 0;
	}
	20%,
	70% {
		opacity: 1;
	}
	90%,
	100% {
		transform: translate(150%, 0);
		opacity: 0;
	}
}
